#friends-display {
  text-align: center;
  display: block;
  padding: 15px 0px;
  background-color: #fafafa;
  color: #5b5f62;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
#friends-display i {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  font-size: 14px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.friends-screen__channel-header span {
  margin-bottom: 15px;
}
.splash-screen {
  background-color: var(--yellow);
  height: 160vh;
  width: 97vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  animation: hideSplash-screen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
.splash-screen i {
  position: absolute;
  top: 45vh;
}

@keyframes hideSplash-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.friends-screen {
  padding-left: 20px;
}
