.alt-header {
  display: flex;
  align-items: center;
  margin: 50px 20px 35px 20px;
}

.alt-header__title {
  font-size: 20px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.margin {
  margin-right: 40px;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__last-i {
  margin-left: 30px;
  margin-right: 35px;
}
.chat-header {
  margin-top: 20px;
}
